<li>
    <p>Game ID: {{gameId}}</p>
    <p>Time: {{time}}</p>
    <p>Win: {{win}}</p>
    <p>Kills: {{kills}}</p>
    <p>Deaths: {{deaths}}</p>
    <p>Assists: {{assists}}</p>
    <p>Champion: {{champion}}</p>
</li>